.profile__avatar{
  border-radius: 50%;
  height: 120px;
  width: 120px;
  object-fit: cover;
}

@media screen and (max-width: 880px) {
  .profile__avatar{
    align-self: center;
    margin: 0 0 26px 0;
  }
}