.elements__like-button{
  margin: 0;
  padding: 0;
  background-image: url(../../../images/like-button.svg);
  background-color: inherit;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 22px;
  height: 19px;
  border: 0;
  transition: opacity ease 0.3s;
}

.elements__like-button:hover{
  cursor: pointer;
  opacity: 0.6;
}